@font-face {
    font-family: 'W95FA';
    src: url('/W95FARegular.woff2') format('woff2'),
        url('/W95FARegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MS Sans Serif';
    src: url('/ms_sans_serif.woff2') format('woff2'),
         url('/MS-Sans-Serif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MS Sans Serif';
    src: url('/ms_sans_serif_bold.woff2') format('woff2'),
         url('/MS-Sans-Serif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'MS Sans Serif', 'Helvetica', 'Arial', sans-serif !important;
    font-size: 12px;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
    min-height: 0;
    height: 100%;
}

body * {
    box-sizing: border-box;
}
    
input, button, select, p, h1, h2, h3, h4, h5, h6, label, input[type=file]::file-selector-button {
    font-family: 'MS Sans Serif', 'Helvetica', 'Arial', sans-serif !important;
}

label {
    user-select: none;
}

button {
    cursor: pointer;
    text-box: cap alphabetic;
}

button.small {
    min-width: 12px;
}

button.bold {
    font-weight: bold;
}

button.active {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
    text-shadow: 1px 1px #222;
}

button.active svg,
button:active svg {
    position: relative;
    top: 1px;
    left: 1px;
}

h1, h2, h3, h4, h5, h6, p, span, input, textarea, select, label, button {
    text-box: cap alphabetic;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 !important;
    font-size: 12px !important;
}

hr {
    display: block;
    margin: 2px 0;
}

kbd {
    border: 1px solid #222;
    background: #444;
    color: #fff;
    border-radius: 3px;
    padding: 2px 5px;
    font-family: "MS Sans Serif";
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.fields.row {
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.field {
    display: flex;
    flex-direction: column;
    min-width: 0;
    gap: 5px;
    width: 100%;
}

.field label {
    width: 100%;
}
